{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
    
{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/connexion-page.css') }}"/>
{% endblock %} #}

{% block body %}

    <h3 class="title-form">CONNEXION</h3>

    <form action="{{ path('connexion_page') }}" method="POST">
        <div>
            <label for="_username">Adresse email</label></br>
            <input type="text" placeholder="Adresse email ..." required name="_username" class="form-control"/>
        </div>
        <div>
            <label for="_password">Mot de passe</label></br>
            <input type="password" placeholder="Mot de passe ..." required name="_password" class="form-control"/>
        </div>
        <div>
            <button class="btn btn-success" type="submit">CONNEXION</button>
        </div>
    </form>

{% endblock %}