{% extends 'base.html.twig' %}
{% form_theme form 'form/form_connexion.html.twig' %}

{% block title %}S'enregistrer{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/connexion-page.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {{ form_start(form) }}
        <button type="submit" class="btn btn-succes">S'ENREGISTRER</button>
    {{ form_end(form) }}
    
{% endblock %}