{% extends 'base.html.twig' %}

{% block title %}QCM CLOUD{% endblock %}

{% block body %}

    </br>
    <h3>
        <img src="{{ asset('images-icons/icons/rsz_cloud-icon.png') }}" alt="icon-cloud">
          -- QCM Cloud (Application Android)
    </h3>
    
{% endblock %}