{% extends 'base.html.twig' %}
{% form_theme materialform 'form/form_connexion.html.twig' %}

{% block title %}Modification d'un matériel{% endblock %}

{% block body %}

    {{ form_start(materialform) }}
        <button type="submit" class="btn btn-success">
            SAUVEGARDER LES MODIFICATIONS
        </button>
    {{ form_end(materialform) }}

{% endblock %}