{% extends 'base.html.twig' %}
{% form_theme formcategory 'form/form_connexion.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}

    <div class="container-form">
        {{ form_start(formcategory) }}
            <p class="h3 mb-4">
                -- Ajout d'une catégorie
            </p>

            <button type="submit" class="btn btn-primary">
                AJOUTER LA CATEGORIE
            </button>
        {{ form_end(formcategory) }}
    </div>
{% endblock %}