{% extends 'base.html.twig' %}
{% form_theme materialform 'form/form_connexion.html.twig' %}

{% block title %}Ajout d'un matériel{% endblock %}

{% block body %}

    <div class="container-form">
        {{ form_start(materialform) }}
            <p class="h3 mb-4">
                -- Ajout d'un matériel
            </p>

            <button type="submit" class="btn btn-primary">
                AJOUTER LE MATERIEL
            </button>
        {{ form_end(materialform) }}
    </div>

{% endblock %}