{% extends 'base.html.twig' %}
{% form_theme form 'form/form_connexion.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}

    {# <div class="title-container">
        <h3 class="title-form">
            <img src="../images-icons/icons/rsz_form-icon.png" alt="icon-form">
            -- Formulaire d'ajout d'un utilisateur
        </h3>
    </div> #}

    <div class="container-form">
        {{ form_start(form) }}
            <p class="h3 mb-4">
                <img src="../images-icons/icons/rsz_form-icon.png" alt="icon-form">
                -- Formulaire d'ajout d'un utilisateur
            </p>

            <button class="btn btn-primary" type="submit">
                AJOUTER UN UTILISATEUR
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}