{% extends 'base.html.twig' %}
{% form_theme form 'form/form_connexion.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}

    <h3 class="title-form">
        <img src="../images-icons/icons/rsz_form-icon.png" alt="icon-form">
         -- Formulaire d'ajout d'un utilisateur
    </h3>

    {{ form_start(form) }}
        <button class="btn btn-success" type="submit">AJOUTER UN UTILISATEUR</button>
    {{ form_end(form) }}
    
{% endblock %}