<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <img src="{{ asset('images-icons/icons/rsz_twitter-icon.png') }}" alt="icon-twitter" class="fa fa-twitter">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <img src="{{ asset('images-icons/icons/rsz_if_linkedin_287553.png') }}" alt="icon-twitter" class="fa fa-linkdin">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <img src="{{ asset('images-icons/icons/rsz_instagram-new-flat.png') }}" alt="icon-twitter" class="fa fa-instagram">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <img src="{{ asset('images-icons/icons/rsz_facebook-icon.png') }}" alt="icon-twitter" class="fa fa-facebook">
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p class="text-copyright">© 2018 Copyright: Powered by PHP 7.2.10 - Node v8.12.0 on Symfony v4.1.3
        </p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->