.footer {
    display: flex;
    flex-direction: row wrap;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: aliceblue;
    background-color: #343a40;
    text-align: center;

    p {
        margin-top: 10px !important;
    }

    .info {
        margin: auto;
    }

    box-shadow: 12px -1px 13px 9px rgba(0, 0, 0, 0.3),
     19px 15px 12px rgba(0, 0, 0, 0.22);

    .social-network {
        padding: 1em;
    }
}

.right-position-btn {
    float: right;
}

body {
    background-color: #efefef;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.pdf-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
    margin-top: 0 !important;
}

.title-form {
    margin-top: .5em !important;
    margin-bottom: .5em;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: .5em;

    button {
        margin: auto;
        width: fit-content;
        margin-top: .5em;
        order: 1;
    }

    input {
        margin-bottom: .5em !important;
    }
    label {
        font-weight: 500;
    }
}