.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: aliceblue;
    background-color: #343a40;
    text-align: center;

    p {
        margin-top: 10px !important;
    }

    box-shadow: 12px -1px 13px 9px rgba(0, 0, 0, 0.3),
     19px 15px 12px rgba(0, 0, 0, 0.22);
}

body {
    background-color: #efefef;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
    margin-top: 0 !important;
}