.right-position-btn {
    float: right;
}

.container {
    position: relative;
    min-height: 100%;
    width: auto;
}

body, html {
    background-color: #efefef;
    margin: 0;
    height: 100%;
}

.pdf-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container-form, .container-intro {
    margin-top: 1em;
    box-shadow: -4px 9px 38px rgba(0, 0, 0, 0.3), 1px -7px 12px rgba(0, 0, 0, 0.22);
    padding: 16px;
}

.container-intro {
    margin-top: 1em;
    box-shadow: -4px 9px 38px rgba(0, 0, 0, 0.3), 1px -7px 12px rgba(0, 0, 0, 0.22);
    padding: 16px;
}

// FORM 
form {
    display: flex;
    flex-direction: column;
    margin-top: .5em;

    button {
        margin-top: .5em;
        order: 1;
    }

    input {
        margin-bottom: .5em !important;
    }
    label {
        font-weight: 500;
    }
}

.title-form {
    margin-top: .5em !important;
    margin-bottom: .5em;
}

// FOOTER
footer {
    position: relative;
    clear: both;
    bottom: 0;
    width: 100%;
    background-color: #333030;

    p {
        margin-bottom: 0 !important;
        padding: .5em;
    }

    .text-copyright {
        color: white;
    }

    li {
        margin-top: 2em;
    }
}