.btn {
    margin-top: 10px !important;
    display: grid !important;
    width: 100% !important;
}

li {
    list-style: none !important;
    font-size: 12px !important;
    color: red;
}

.nav-register {
    float: right;
}