.container-intro {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30),
     0 15px 12px rgba(0,0,0,0.22);
    padding: 16px;
}

.divider-acceuil {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}